
body{
    margin: 0 auto
}
/* header */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration:none;
    
    border-radius: 40%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
.tete-page{
    padding:20px 40px ;
    
}
.logo{
    display:flex;
    align-items: center;
    
}
.logo img{
    width: 180px;
}
.top-page{
    background: url("../images/bacground.jpg");
    background-size: cover;
    height: 1000px;
    padding: 10px;
}
/*title*/
.titre{
font-family: cursive;
color:#4682B4;
font-size: 80px;
text-align: center;
}
/*navigation*/
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
   font-family:inherit;
    width: 600px;
   margin-left: 40px ;
}
.list{
    font-size: 22px;
    color: black;
}
/* Nos-Meilleures-Ventes*/
.affiche{
    font-size: 50px;
    font-family:cursive;
    font-weight:bold;
    text-align: center;
    text-decoration-line: underline;
    
}


* {
    box-sizing: border-box;
}
.boite {
    float: left;
    width: 33%;
    padding: 30px;
    text-align: center;
}
img {
    border-radius: 50%;
  }
.Nos-Meilleures-Ventes {
    content: "";
    clear: both;
    display: table;
   padding: 5px 20px;
   
}
.size-nom{
    font-size: 30px;
    font-family: cursive;
    color:#4682B4 ;
    text-align: center;
}
/*Nos articles*/
.nos-articles{
    font-size: 30px;
    font-family:cursive;
    font-weight:bold;
    text-align: center;
    text-decoration-line: underline;
 }
      
 .grille-darticle {
    float: left;
     width: 32%;
     padding: 10px;
 }
      
 .nos-articles::after {
        content: "";
        clear: both;
        display: table;
 }
 .description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:center;
    justify-content: baseline;
    display: none;
  }
/* Service */
.Services{
    display:flex;
    justify-content: space-evenly;
    margin: 90px;
    
}
.delivery{
    font-size:60px; 
   color: #4682B4;
  
}
.Service-item{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items:center;
    text-align: center;
}
.deliv-detail{
    font-weight: bold;
}
/*footer*/
footer{
    display: flex;
    margin: 20px 100px;
}